* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.page {
    background-color: rgb(19, 151, 101); 
    width: 100%;
}

header {
    background-color: #17be49;
}
footer {
    background-color: rgb(11, 160, 123);
}
a {
    font-size: medium;
    font-weight: 100;
    font: inherit;
    color: rgb(143, 15, 175);
}
span{
    font-size: initial;
    size: initial;
    color: beige;
}
ul {
    list-style-type: none;
}

.catalog {
    color:rgb(0, 0, 0);
    font-size: 18;
    font-weight: 400;
    background-color: blueviolet;
}

.lighter{

}
.brief_description {
    color: chartreuse;
    font-size: 14;
    font-style: italic;
    line-height: 16;
}

.detailed_description {
    color: cyan;
    font-size: 16;
    font-weight: 400;
    line-height: 24pt;
    text-align: left;
}

.characteristic {
    list-style-image: -webkit-radial-gradient();
    color: aliceblue;
    font-size: 20;
    font-weight: 300;
}

.characteristic li{
    list-style-image: -webkit-radial-gradient();
    color: rgb(32, 86, 133);
    font-size: 20;
    font-weight: 300;
}


footer {
    position: fixed;
     bottom: 0;
}


.create-line {
    width: 100%;
    border-top: 3px solid #f8871d;
  } 

.footer {
    width: 100%;
}

body {
    width: 100%;
}

figure {
    margin: 10px;
    padding: 10px;
}

.noteable_text {
    color: red;
    font-size: 16;

}

.list {
    list-style-type: initial;
    margin-left: 20px;
    margin-top: 10px;
}

.wrapper{
    display: flex;
    align-items: top;
    justify-content: start;
    flex-wrap: nowrap;
    height: auto;
  }
  
  .image{
    box-sizing: border-box;
    width: auto;
    height: auto;
  }